<div #sliderEle class="silder-window-wrap" [@slideMenu] = "{value: sliderWindowState ? true : false}">

    <div class="spinnerWrap" *ngIf="isLoading">
        <img class="spinner" src="../../../assets/spinner.gif">
    </div>

    <div class="title-bar">

        <div>
            <span class="text">Setup</span>
        </div>
 
        <div class="close">
            <mat-icon (click)="sliderClose()">close</mat-icon>
        </div>
        
    </div>

    <div class="content"> 
        <mat-accordion class="example-headers-align">

            <mat-expansion-panel [expanded]="step() === 0" (opened)="setStep(0)" hideToggle>

              <mat-expansion-panel-header>

                <mat-panel-title> Brands </mat-panel-title>

                <div class="moduleLoader-container">
                    <img *ngIf="isLoaderAvailableForBrand" src="../../../../assets/loader.gif">
                </div>

              </mat-expansion-panel-header>
          
              <div class="brandContainer">

                <div class="topContainer">
    
                    <div class="inputs">
            
                        <form [formGroup]="brand">
                
                            <mat-form-field>
                                <mat-label>Brand Name</mat-label>
                                <input matInput formControlName="brandName" required>
                            </mat-form-field>
                            
                        </form>
                
                    </div>
            
                    <div class="btn">
                        
                        <mat-icon (click)="addInputType()">add_box</mat-icon>
            
                    </div>
                </div>
            
                <div #actionBtnContainerForBrand class="results-container">
            
                    <div class="result" *ngFor="let brand of allBrandNames; let i = index">
            
                        <div class="top" (click)="bindBrandDataToUI(brand, i)">

                            <div>
                                {{brand.brandName}}
                            </div>

                        </div>
                        <div class="bottom" [id] = "i" (click)="removeUpdateOpt(brand.btnTxt, i, 'brand')">
                            {{removeUpdateTextForBrand}}
                        </div>
            
                    </div>

                </div>

              </div>

            </mat-expansion-panel>
          
             <mat-expansion-panel [expanded]="step() === 1" (opened)="setStep(1)" hideToggle>

              <mat-expansion-panel-header>
                <mat-panel-title> Company </mat-panel-title>
                <div class="moduleLoader-container">
                    <img *ngIf="isLoaderAvailableForCompany" src="../../../../assets/loader.gif">
                </div>
              </mat-expansion-panel-header>
          
              <div class="companyContainer">

    
                <div class="topContainer">
            
                    <div class="inputs">
            
                        <form [formGroup]="companyItems">
            
                            <div class="left">

                                <mat-form-field>
                                    <mat-label>Company Name</mat-label>
                                    <input matInput formControlName="cmpName" required>
                                </mat-form-field>
                                
                                <mat-form-field>
                                    <mat-label>address Line 1</mat-label>
                                    <input matInput formControlName="addLineA" required>
                                </mat-form-field>
                                
                                <mat-form-field>
                                    <mat-label>Address Line 2</mat-label>
                                    <input matInput formControlName="addLineB" required>
                                </mat-form-field>
                                
                                <mat-form-field>
                                    <mat-label>Address Line 3</mat-label>
                                    <input matInput formControlName="addLineC" required>
                                </mat-form-field>
                                
                            </div>

                            <div class="right">

                                
                                <mat-form-field>
                                    <mat-label>Phone</mat-label>
                                    <input type="number" matInput formControlName="phone" required>
                                </mat-form-field>

                                <mat-form-field>
                                    <mat-label>Mobile</mat-label>
                                    <input type="number" matInput formControlName="mobile" required>
                                </mat-form-field>
                                
                                <mat-form-field>
                                    <mat-label>Fax</mat-label>
                                    <input type="number" matInput formControlName="fax" required>
                                </mat-form-field>
                    
                                <mat-form-field>
                                    <mat-label>Email</mat-label>
                                    <input matInput formControlName="email" required>
                                </mat-form-field>

                            </div>

            
                        </form>
            
                        <div class="uploadImgContainer">
                            
                            <div class='upload-wrap'>
                                
                                <mat-icon>cloud_upload</mat-icon>
            
                                <input type="file" name="file" id="file-id" class="inputfile" (change) = 'uploadFile($event)' />
            
                                <label for="file-id">Browse Files</label>
            
                            </div>
            
                        </div>
                
                    </div>
            
                    <div class="btn">
                        
                        <mat-icon (click)="addCompany()">add_box</mat-icon>
            
                    </div>
                </div>
            
                <div #actionBtnContainerForComp class="results-container">
            
                    <div class="result" *ngFor="let item of allCompanyData; let i = index">
            
                        <div class="top" (click)="bindCompanyDataToUI(item, i)">
                            <div class="compLogo">
                                <img [src]="'data:image/png;base64,' + item.logo" alt="Image" class="hover-shadow">
    
                                <div class="company-details">
                                    <div class="title">Company Name</div>
                                    <div>{{item.cmpName}}</div>
                                </div>
                            </div>
    
                            <div class="comp-data-container">
    
                                <div class="company-details">
                                    <div class="title">Address Line 1</div>
                                    <div>{{item.addLineA}}</div>
                                </div>
    
                                <div class="company-details">
                                    <div class="title">Address Line 2</div>
                                    <div>{{item.addLineB}}</div>
                                </div>
    
                                <div class="company-details">
                                    <div class="title">Address Line 3</div>
                                    <div>{{item.addLineC}}</div>
                                </div>
    
                                <div class="company-details">
                                    <div class="title">Phone</div>
                                    <div>{{item.phone}}</div>
                                </div>
    
                                <div class="company-details">
                                    <div class="title">Mobile</div>
                                    <div>{{item.mobile}}</div>
                                </div>
    
                                <div class="company-details">
                                    <div class="title">FAX</div>
                                    <div>{{item.fax}}</div>
                                </div>
    
                                <div class="company-details">
                                    <div>Email</div>
                                    <div>{{item.email}}</div>
                                </div>
    
                            </div>
                        </div>
                        <div class="bottom" [id] = "i" (click)="removeUpdateOpt(item.btnTxt, i, 'company')">
                            {{removeUpdateTextForComp}}
                        </div>
            
                    </div>

                </div>
            </div>

            </mat-expansion-panel>
          
            <mat-expansion-panel [expanded]="step() === 2" (opened)="setStep(2)" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>Designation</mat-panel-title>
                <div class="moduleLoader-container">
                    <img *ngIf="isLoaderAvailableForDesignation" src="../../../../assets/loader.gif">
                </div>
              </mat-expansion-panel-header>
          
              <div class="feedbackContainer">


                <div class="topContainer">
            
                    <div class="inputs">
            
                        <form [formGroup]="designation">
                
                            <mat-form-field>
                                <mat-label>Feedback Status</mat-label>
                                <input matInput formControlName="desgDesc" required>
                            </mat-form-field>
                            
                        </form>
                
                    </div>
            
                    <div class="btn">
                        
                        <mat-icon (click)="addDesignation()">add_box</mat-icon>
            
                    </div>
                </div>
            
                <div #actionBtnContainerForDesig class="results-container">
            
                    <div class="result" *ngFor="let designation of alldesoignations; let i = index">
            
                        <div class="top" (click)="bindDesigDataToUI(designation, i)">

                            <div>
                                {{designation.desgDesc}}
                            </div>

                        </div>
                        <div class="bottom" [id] = "i" (click)="removeUpdateOpt(designation.btnTxt, i, 'designation')">
                            {{removeUpdateTextForDesig}}
                        </div>
            
                    </div>

                </div>

            </div>

            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step() === 3" (opened)="setStep(3)" hideToggle>

                    <mat-expansion-panel-header>
                    <mat-panel-title>Document Type</mat-panel-title>
                    <div class="moduleLoader-container">
                        <img *ngIf="isLoaderAvailableForDocType" src="../../../../assets/loader.gif">
                    </div>
                    </mat-expansion-panel-header>
                
                    <div class="docTypeContainer">


                        <div class="topContainer">
                    
                            <div class="inputs">
                    
                                <form [formGroup]="docType">
                        
                                    <mat-form-field>
                                        <mat-label>Document Type</mat-label>
                                        <input matInput formControlName="documentType" required>
                                    </mat-form-field>
                                    
                                </form>
                        
                            </div>
                    
                            <div class="btn">
                                
                                <mat-icon (click)="addDocType()">add_box</mat-icon>
                    
                            </div>
                        </div>
                    
                        <div #actionBtnContainerForDoctype class="results-container">
                
                            <div class="result" *ngFor="let doc of allSavedDocsTypes; let i = index">
                    
                                <div class="top" (click)="bindDocTypeDataToUI(doc, i)">
        
                                    <div>
                                        {{doc.name}}
                                    </div>
        
                                </div>
                                <div class="bottom" [id] = "i" (click)="removeUpdateOpt(doc.btnTxt, i, 'docType')">
                                    {{removeUpdateTextForDocType}}
                                </div>
                    
                            </div>
        
                        </div>

                    </div>

            </mat-expansion-panel>
        
            <mat-expansion-panel [expanded]="step() === 4" (opened)="setStep(4)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title> FeedBack Status </mat-panel-title>
                <div class="moduleLoader-container">
                    <img *ngIf="isLoaderAvailableForFeedbackStatus" src="../../../../assets/loader.gif">
                </div>
            </mat-expansion-panel-header>
        
            <div class="feedBackStatus">


                <div class="topContainer">
            
                    <div class="inputs">
            
                        <form [formGroup]="feedbackStatusForm">
                
                            <mat-form-field>
                                <mat-label>Feedback Status</mat-label>
                                <input matInput formControlName="cfStatusDesc" required>
                            </mat-form-field>
                            
                        </form>
                
                    </div>
            
                    <div class="btn">
                        
                        <mat-icon (click)="addFeedBackStatus()">add_box</mat-icon>
            
                    </div>
                </div>
            
                <div #actionBtnContainerForFeedBackStatus class="results-container">
        
                    <div class="result" *ngFor="let feedback of allfeedbackStatus; let i = index">
            
                        <div class="top" (click)="bindFeedbackStatusDataToUI(feedback, i)">

                            <div>
                                {{feedback.cfStatusDesc}}
                            </div>

                        </div>
                        <div class="bottom" [id] = "i" (click)="removeUpdateOpt(feedback.btnTxt, i, 'feedBackStatus')">
                            {{removeUpdateTextForFeedBackStatus}}
                        </div>
            
                    </div>

                </div>
                
            </div>

            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step() === 5" (opened)="setStep(5)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>Feedback Type</mat-panel-title>
                <div class="moduleLoader-container">
                    <img *ngIf="isLoaderAvailableForFeedbackType" src="../../../../assets/loader.gif">
                </div>
            </mat-expansion-panel-header>
        
            <div class="feedBackTypes">


                <div class="topContainer">
            
                    <div class="inputs">
            
                        <form [formGroup]="feedbackTypeForm">
                
                            <mat-form-field>
                                <mat-label>Feedback Type</mat-label>
                                <input matInput formControlName="typeDesc" required>
                            </mat-form-field>
                            
                        </form>
                
                    </div>
            
                    <div class="btn">
                        
                        <mat-icon (click)="addFeedbackTypes()">add_box</mat-icon>
            
                    </div>
                </div>
            
                <div #actionBtnContainerForFeedBackType class="results-container">
        
                    <div class="result" *ngFor="let feedback of allfeedbackTypes; let i = index">
            
                        <div class="top" (click)="bindFeedbackTypeDataToUI(feedback, i)">

                            <div>
                                {{feedback.typeDesc}}
                            </div>

                        </div>
                        <div class="bottom" [id] = "i" (click)="removeUpdateOpt(feedback.btnTxt, i, 'feedBackType')">
                            {{removeUpdateTextForFeedBackType}}
                        </div>
            
                    </div>

                </div>

            </div>

            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step() === 6" (opened)="setStep(6)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>Item Types</mat-panel-title>
                <div class="moduleLoader-container">
                    <img *ngIf="isLoaderAvailableForItemType" src="../../../../assets/loader.gif">
                </div>
            </mat-expansion-panel-header>
        
            <div class="itemTypeContainer">


                <div class="topContainer">
            
                    <div class="inputs">
            
                        <form [formGroup]="itemTypeForm">
            
                            <mat-form-field>
                                <mat-label>Item Types</mat-label>
                                <input matInput formControlName="name" required>
                            </mat-form-field>
                            
                        </form>
                
                    </div>
            
                    <div class="btn">
                        
                        <mat-icon (click)="addItemType()">add_box</mat-icon>
                        
            
                    </div>
                </div>
            
                <div #actionBtnContainerForItemType class="results-container">
        
                    <div class="result" *ngFor="let iType of allSavedItemTypes; let i = index">
            
                        <div class="top" (click)="bindItemTypeDataToUI(iType, i)">

                            <div>
                                {{iType.name}}
                            </div>

                        </div>
                        <div class="bottom" [id] = "i" (click)="removeUpdateOpt(iType.btnTxt, i, 'itemType')">
                            {{removeUpdateTextForItemType}}
                        </div>
            
                    </div>

                </div>

            </div>

            </mat-expansion-panel>
            
            <mat-expansion-panel [expanded]="step() === 7" (opened)="setStep(7)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title> Items </mat-panel-title>
                <div class="moduleLoader-container">
                    <img *ngIf="isLoaderAvailableForItems" src="../../../../assets/loader.gif">
                </div>
            </mat-expansion-panel-header>
        
            <div class="itemContainer">

                <div class="topContainer">
            
                    <div class="inputs">
            
                        <form [formGroup]="items">
            
                            <div class="left">

                                <mat-form-field>
                                    <mat-label>Item Name</mat-label>
                                    <input matInput formControlName="itemName" required>
                                </mat-form-field>
                                
                                <mat-form-field>
                                    <mat-label>Description</mat-label>
                                    <input matInput formControlName="description" required>
                                </mat-form-field>
                                
                                <mat-form-field>
                                    <mat-label>Model</mat-label>
                                    <input matInput formControlName="model" required>
                                </mat-form-field>
                                
                                <mat-form-field>
                                    <mat-label>Power Rating</mat-label>
                                    <input type="number" matInput formControlName="powerRating" required>
                                </mat-form-field>
                                
                                <mat-form-field>
                                    <mat-label>Effiancy</mat-label>
                                    <input type="number" matInput formControlName="efficiency" required>
                                </mat-form-field>

                                <mat-form-field>
                                    <mat-label>Unit Price</mat-label>
                                    <input type="number" matInput formControlName="unitPrice" required>
                                </mat-form-field>
                            </div>

                            <div class="right">
                                
                                <mat-form-field>
                                    <mat-label>Warrenty Period</mat-label>
                                    <input type="number" matInput formControlName="warrantyPeriod" required>
                                </mat-form-field>
                                
                                <mat-form-field>
                                    <mat-label>Stock Quantity</mat-label>
                                    <input type="number" matInput formControlName="stockQuantity" required>
                                </mat-form-field>
                    
                                <mat-form-field>
                                    <mat-label>Item Types</mat-label>
                                    <mat-select formControlName="itemType">
                                    <mat-option *ngFor="let type of allSavedItemTypes" [value]="type.id">
                                        {{ type.name }}
                                    </mat-option>
                                    </mat-select>
                                </mat-form-field>
                
                                <mat-form-field>
                                    <mat-label>Manufacture</mat-label>
                                    <mat-select formControlName="ManuFactures">
                                    <mat-option *ngFor="let manuf of allSavedIManufatureItems" [value]="manuf.id">
                                        {{ manuf.name }}
                                    </mat-option>
                                    </mat-select>
                                </mat-form-field>
            
                                <mat-form-field>
                                    <mat-label>Brand</mat-label>
                                    <mat-select formControlName="brandName">
                                    <mat-option *ngFor="let brand of allBrandNames" [value]="brand.id">
                                        {{ brand.brandName }}
                                    </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                
                            </div>
                            
                                            
                        </form>
                
                    </div>
            
                    <div class="btn">
                        
                        <mat-icon (click)="addItem()">add_box</mat-icon>
            
                    </div>
                </div>
            
                <div #actionBtnContainerForItems class="results-container">
            
                    <div class="result" *ngFor="let item of allItems; let i = index">
            
                        <div class="top" (click)="bindItemDataToUI(item, i)">
    
                            <div class="comp-data-container">
    
                                <div class="company-details">
                                    <div class="title">Item Name</div>
                                    <div>{{item.itemName}}</div>
                                </div>
    
                                <div class="company-details">
                                    <div class="title">Item description</div>
                                    <div>{{item.description}}</div>
                                </div>
    
                                <div class="company-details">
                                    <div class="title">Model</div>
                                    <div>{{item.model}}</div>
                                </div>
    
                                <div class="company-details">
                                    <div class="title">Power Rating</div>
                                    <div>{{item.powerRating}}</div>
                                </div>
    
                                <div class="company-details">
                                    <div class="title">Efficiency</div>
                                    <div>{{item.efficiency}}</div>
                                </div>
    
                                <div class="company-details">
                                    <div class="title">Unit Price</div>
                                    <div>{{item.unitPrice}}</div>
                                </div>
    
                                <div class="company-details">
                                    <div>Warrenty Period</div>
                                    <div>{{item.warrantyPeriod}}</div>
                                </div>

                                <div class="company-details">
                                    <div>Stock Quantity</div>
                                    <div>{{item.stockQuantity}}</div>
                                </div>
    
                                <div class="company-details">
                                    <div>Item Type</div>
                                    <div>{{item.itemTypeInUi}}</div>
                                </div>

                                <div class="company-details">
                                    <div>Manufacture</div>
                                    <div>{{item.ManuFacturesInUi}}</div>
                                </div>

                                <div class="company-details">
                                    <div>Brand</div>
                                    <div>{{item.brandNameInUi}}</div>
                                </div>

                            </div>
                        </div>
                        <div class="bottom" [id] = "i" (click)="removeUpdateOpt(item.btnTxt, i, 'item')">
                            {{removeUpdateTextForItems}}
                        </div>
            
                    </div>

                </div>

            </div>

            </mat-expansion-panel>
            
           <mat-expansion-panel [expanded]="step() === 8" (opened)="setStep(8)" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title> Manufacture </mat-panel-title>
                  <div class="moduleLoader-container">
                    <img *ngIf="isLoaderAvailableForManuFac" src="../../../../assets/loader.gif">
                </div>
                </mat-expansion-panel-header>
            
               
                <div class="ManufatureItemsContainer">
    
                    <div class="topContainer">
                
                        <div class="inputs">
                
                            <form [formGroup]="manufatureItems">
                
                                    
                                <mat-form-field>
                                    <mat-label>Name</mat-label>
                                    <input matInput formControlName="name" required>
                                </mat-form-field>
                
                                <mat-form-field>
                                    <mat-label>Phone Number</mat-label>
                                    <input matInput formControlName="pNumber" required>
                                </mat-form-field>
                
                                <mat-form-field>
                                    <mat-label>Email</mat-label>
                                    <input matInput formControlName="email" required>
                                </mat-form-field>
                
                                <mat-form-field>
                                    <mat-label>Address</mat-label>
                                    <input matInput formControlName="address" required>
                                </mat-form-field>
                                
                            </form>
                    
                        </div>
                
                        <div class="btn">
                            
                            <mat-icon (click)="addManufature()">add_box</mat-icon>
                           
                
                        </div>
                    </div>

                    <div #actionBtnContainerManufac class="results-container">
            
                        <div class="result" *ngFor="let manuFac of allSavedIManufatureItems; let i = index">
                
                            <div class="top" (click)="bindManuFacDataToUI(manuFac, i)">
    
                                <div class="manuFacDetails">
                                    <div class="company-details">
                                        <span class="left">Name</span>
                                        <span class="right">: {{manuFac.name}}</span>
                                    </div>
                                    <div class="company-details">
                                        <span class="left">Contact</span>
                                        <span class="right">: {{manuFac.phoneNo}}</span>
                                    </div>
                                    <div class="company-details">
                                        <span class="left">Email</span>
                                        <span class="right">: {{manuFac.email}}</span>
                                    </div>
                                    <div class="company-details">
                                        <span class="left">Address</span>
                                        <span class="right">: {{manuFac.address}}</span>
                                    </div>
                                </div>
    
                            </div>
                            <div class="bottom" [id] = "i" (click)="removeUpdateOpt(manuFac.btnTxt, i, 'manuFacture')">
                                {{removeUpdateTextForManuFac}}
                            </div>
                
                        </div>
    
                    </div>
                </div>

            </mat-expansion-panel>

           <mat-expansion-panel [expanded]="step() === 9" (opened)="setStep(9)" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title> Stage </mat-panel-title>
                  <div class="moduleLoader-container">
                    <img *ngIf="isLoaderAvailableForStage" src="../../../../assets/loader.gif">
                </div>
                </mat-expansion-panel-header>
            
                <div class="stageContainer">


                    <div class="topContainer">
                
                        <div class="inputs">
                
                            <form [formGroup]="stage">
                
                                <mat-form-field>
                                    <mat-label>Stage</mat-label>
                                    <input matInput formControlName="stagDesc" required>
                                </mat-form-field>
                                
                            </form>
                    
                        </div>
                
                        <div class="btn">
                
                            <mat-icon (click)="addStagDesc()">add_box</mat-icon>
                            
                        </div>
                    </div>
                
                    <div #actionBtnContainerForStage class="results-container">
            
                        <div class="result" *ngFor="let stage of allSavedStages; let i = index">
                
                            <div class="top" (click)="bindStageDataToUI(stage, i)">
    
                                <div>
                                    {{stage.stagDesc}}
                                </div>
    
                            </div>
                            <div class="bottom" [id] = "i" (click)="removeUpdateOpt(stage.btnTxt, i, 'stage')">
                                {{removeUpdateTextForStage}}
                            </div>
                
                        </div>
    
                    </div>

                </div>
                
            </mat-expansion-panel>

          </mat-accordion>
    </div>

</div>