<div class="customer-invoices">

    <div class="title-bar">

        <div (click)="handleLeftBar()">
            <img src="../../../../assets/view-headlne.gif" height="30">
            <app-common-loader #loader></app-common-loader>
            <span class="text">Customers</span>
        </div>

        <div class="moduleLoader-container">
            <img *ngIf="isLoaderAvailable" src="../../../../assets/loader.gif">
        </div>

    </div>

    <div class="content">

        <div class="search-add-invoice-container">
            
            <div class="search-section">

                <app-customer-search #customerSearch (selcetedCustomerData)="bindCutomerData($event)"></app-customer-search>
                
            </div>
    
            <div class="bottom-section">

                <div class="add-show-invoice-section">

                    <div class="filter">

                        <mat-form-field>
                            <mat-label>Product Name</mat-label>
                            <mat-select [(ngModel)]="prodNameforItems" (selectionChange)="onProductNameChange($event)">
                              <mat-option *ngFor="let data of loadcustomerProductsDropDown" [value]="data.prodID">
                                {{ data.productName }}
                              </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Product Ref</mat-label>
                            <mat-select [(ngModel)]="prodRefNumber" (selectionChange)="onRefCHange()">
                              <mat-option *ngFor="let data of prodRefNumbers" [value]="data.refNu">
                                {{ data.refNu }}
                              </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <button mat-raised-button color="primary" (click)="getQuatations()">Get Quatations</button>

                    </div>

                    <div class="show-customer-invoices">
    
                        <p-carousel 
                            [value]="allIQuot" 
                            [numVisible]="1" 
                            [numScroll]="1" 
                            orientation="vertical" 
                            [showNavigators]="false"
                            [responsiveOptions]="responsiveOptions"
                            (onPage)="onPage($event)">
                            <ng-template let-product pTemplate="item">
                                <div class="border-1 surface-border border-round m-2 p-3" (click)="selectItem(product); $event.stopPropagation()" [ngClass]="{'selected-item': product.isSelected}">
                                    <div class="mb-3">
                                        <div class="relative mx-auto">
                                            <img 
                                                src="../../../../../assets/placeHolderInvoice.PNG"/>
                                        </div>
                                    </div>
                                    
                                    <div class="invoceDetails">
                                        <div class="mb-3 font-medium">
                                            <div>Quotation No :</div>
                                            <div>{{ product.quotNumber }}</div>
                                        </div>

                                        <div class="mb-3 font-medium">
                                            <div>Quotation Date :</div>
                                            <div>{{ product.quotDate }}</div>
                                        </div>

                                        <div class="mb-3 font-medium">
                                            <div>Amount</div>
                                            <div>{{ product.totalAmount }}</div>
                                        </div>

                                        <button (click)="removeQuatOrInvoice(product); $event.stopPropagation()">Delete</button>
                                        <mat-icon (click)="hadleAssignedEmp($event)" *ngIf="handleIconDisabled">group_add</mat-icon>
                                    </div>
                                </div>
                            </ng-template>
                        </p-carousel>

                
                    </div>

                    <div class="assignedEmpSec">
                         
                        <div class="emp">

                            <h4>All Employees</h4>

                            <app-employee-search #employeeSearch (selectEmpInq)="bindEmployeeData($event)" [compName]="componant"></app-employee-search>

                        </div>

                        <div class="assignedEmp">

                            <h4>Assigned Employees</h4>

                            <mat-card class="search-result-card" *ngFor="let selectedIngEmp of selectedForInq">
    
                                <mat-card-header>
                                  <mat-card-title-group>
                                    <mat-card-title>{{selectedIngEmp.initials + ' ' + selectedIngEmp.fname}}</mat-card-title>
                                  </mat-card-title-group>
                                </mat-card-header>
                    
                            </mat-card>
                            
                        </div>

                    </div>

                    <div class="empAdd">
                        <button mat-raised-button color="primary" (click)="sendSelectedEmpToAdd()" [disabled]="addEmpDisabled">Add Employees</button>
                    </div>
    
                </div>

                <div class="show-selected-invoice">
                    <app-form-viewer-qout #formViewer (loaderEnableDesabled)="loaderHandle($event)" (loadQuataionBack)="getAllQout()"></app-form-viewer-qout>
                </div>

            </div>

        </div>
       

    </div>
</div>