<div class="customer-products">

    <div class="title-bar">

        <div (click)="handleLeftBar()">
            <img src="../../../../assets/view-headlne.gif" height="30">
        </div>
        
        <span class="text">Customer Products</span>
        
    </div>

    <div class="content">

        <div class="right">
   
            <div class="search-section">
    
                <app-customer-search #customerSearch (selcetedCustomerData)="bindCutomerData($event)"></app-customer-search>
                
            </div>

            <div class="addProdAndItems">

                <div class="filterDrop">
                    <mat-form-field>
                        <mat-label>Product Name</mat-label>
                        <mat-select [(ngModel)]="allCustProducts" (selectionChange)="filterProdAndItems($event)">
                        <mat-option *ngFor="let data of rowData" [value]="data">
                            {{ data.productName }}
                        </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="addCutProdItem">

                    <h3>Add Customer Products</h3>
    
                    <div class="addCustProdInputsContainer">  
                        
                        <div class="top">
                            
                            <mat-form-field>
                                <mat-label>Product Name</mat-label>
                                <mat-select [(ngModel)]="custProdName">
                                <mat-option *ngFor="let data of rowData" [value]="data.productName">
                                    {{ data.productName }}
                                </mat-option>
                                </mat-select>
                            </mat-form-field>
    
                            <mat-form-field>
                                <mat-label>Product Description</mat-label>
                                <input matInput [(ngModel)]="prodDescription" name="prodDescription">
                            </mat-form-field>
                            
                            <mat-form-field>
                                <mat-label>Remark</mat-label>
                                <input matInput [(ngModel)]="remark" name="remark">
                            </mat-form-field>
    
                        </div>
    
                        <div class="bottom">
                            
                            <button mat-raised-button (click)="addCustomerProducts()">Add</button>
                            <button mat-raised-button (click)="updateCustProducts()">Update</button>
                            <button mat-raised-button (click)="removeCustProducts()">Remove</button>
                        </div>
                          
                    </div>
    
                    <div class="grid">
                        <ag-grid-angular
                                class="ag-theme-quartz"
                                [rowData]="custProducts"
                                [columnDefs]="colDefsForCustProd"
                                style="height: 100%;"
                                (rowClicked)="selectCUstomerProduct($event)">
                        </ag-grid-angular>
                    </div>
    
                </div>
    
                <div class="addCutProdItem">
    
                    <h3>Add Customer Products Items</h3>
                    
                    <div class="addCustProdInputsContainer">  
                        
                        <div class="top">
                            
                            <mat-form-field>
                                <mat-label>Product Name</mat-label>
                                <mat-select [(ngModel)]="prodNameforItems" (selectionChange)="onProductNameChange($event)">
                                  <mat-option *ngFor="let data of rowData" [value]="data.id">
                                    {{ data.productName }}
                                  </mat-option>
                                </mat-select>
                            </mat-form-field>
    
                            <mat-form-field>
                                <mat-label>Product Ref</mat-label>
                                <mat-select [(ngModel)]="prodRefNumber" (selectionChange)="loadItemsByRefAndProd($event)">
                                  <mat-option *ngFor="let data of prodRefNumbers" [value]="data.refNu">
                                    {{ data.refNu }}
                                  </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Items</mat-label>
                                <mat-select [(ngModel)]="itemName">
                                <mat-option *ngFor="let data of allItems" [value]="data.itemName">
                                    {{ data.itemName }}
                                </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <button (click)="addItemsToCustomerProd()">ADD Items</button>
    
                        </div>
    
                        <div class="bottom">
                            
                            <button mat-raised-button (click)="updateCustomerProdItems()">Update</button>
                            <button mat-raised-button (click)="removeCustomerProdItems()">Remove</button>
                        </div>
                          
                    </div>
    
                    <div class="grid">
                        <ag-grid-angular #agGrid
                                class="ag-theme-quartz"
                                [rowData]="custProductsItems"
                                [columnDefs]="colDefsForCustProdItems"
                                style="height: 100%;"
                                (rowClicked)="selectCUstomerProductsItems($event)">
                        </ag-grid-angular>
                    </div>
    
                </div>

            </div>

        </div>

        <div class="left">
            
            <div class="search-addCustomer-prod-container">
        
                <div class="add-customer-prod-section">
        
                    <div class="add-customer-prod">
    
                        <div>
    
                            <mat-form-field>
                                <mat-label>Product Name</mat-label>
                                <input matInput [(ngModel)]="prodName" name="prodName">
                              </mat-form-field>
                              
                              <div class="code">
    
                                <mat-form-field>
                                    <mat-label>Short Code</mat-label>
                                    <input matInput [(ngModel)]="shortCode" name="statusCode">
                                  </mat-form-field>
        
                                  <button mat-raised-button (click)="generateUniqueCode()">genarate Shortcode</button>
    
                              </div>
    
                              <button mat-raised-button (click)="onButtonClick()">{{buttonText}}</button>
                              <button mat-raised-button (click)="removeProduct()">Remove</button>
                              
                        </div>
    
                    </div>
    
                    <div class="show-customer-prod">
    
                        <ag-grid-angular
                            class="ag-theme-quartz"
                            [rowData]="rowData"
                            [columnDefs]="colDefs"
                            style="height: 100%;"
                            (rowClicked)="onRowClicked($event)">
                        </ag-grid-angular>
    
                    </div>
    
                </div>
    
            </div>

        </div>
       

    </div>
</div>