<div class="customer-products">

    <div class="title-bar">

        <div (click)="handleLeftBar()">
            <img src="../../../../assets/view-headlne.gif" height="30">
        </div>
        
        <span class="text">Customer Products</span>
        
    </div>

    <div class="content">

        <div class="left">
            
            <div class="search-addCustomer-prod-container">

                <div class="search-section">
    
                    <app-customer-search></app-customer-search>
                    
                </div>
        
                <div class="add-customer-prod-section">
        
                    <div class="add-customer-prod">
    
                        <div>
    
                            <mat-form-field>
                                <mat-label>Product Name</mat-label>
                                <input matInput [(ngModel)]="prodName" name="prodName">
                              </mat-form-field>
                              
                              <div class="code">
    
                                <mat-form-field>
                                    <mat-label>Short Code</mat-label>
                                    <input matInput [(ngModel)]="shortCode" name="statusCode">
                                  </mat-form-field>
        
                                  <button mat-raised-button (click)="generateUniqueCode()">genarate Shortcode</button>
    
                              </div>
    
                              <button mat-raised-button (click)="onButtonClick()">{{buttonText}}</button>
                              <button mat-raised-button (click)="removeProduct()">Remove</button>
                              
                        </div>
    
                    </div>
    
                    <div class="show-customer-prod">
    
                        <ag-grid-angular
                            class="ag-theme-quartz"
                            [rowData]="rowData"
                            [columnDefs]="colDefs"
                            style="height: 100%;"
                            (rowClicked)="onRowClicked($event)">
                        </ag-grid-angular>
    
                    </div>
    
                </div>
    
            </div>

        </div>
       
        <div class="right">

        </div>

    </div>
</div>