<div class="customer-payments">

    <div class="title-bar">

        <div (click)="handleLeftBar()">
            <img src="../../../../assets/view-headlne.gif" height="30">
            <app-common-loader #loader></app-common-loader>
            <span class="text"></span>
        </div>
        
    </div>

    <div class="content">

        <div class="complains">

            <ng-container *ngFor="let complaint of allCustomerInqs">
                <mat-card class="complaint-card">
                  <mat-card-header>
                    <mat-card-title>Complaint Details</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <p><strong>Name:</strong> {{ complaint.comDisplayName }}</p>
                    <p><strong>Complaint Date:</strong> {{ complaint.comcomplainedAt | date: 'medium' }}</p>
                    <p><strong>Completion Date:</strong> {{ complaint.comcompletedAt | date: 'medium' }}</p>
                    <p><strong>Description:</strong> {{ complaint.description }}</p>
                    <p><strong>Status:</strong> 
                      <span [class.handled]="complaint.comisHandled"
                            [class.pending]="!complaint.comisHandled">
                        {{ !complaint.comisHandled ? 'Pending' : 'Handled' }}
                      </span>
                    </p>
                 
                  </mat-card-content>
                  <mat-card-actions>

                    <div>
                      <button mat-raised-button color="primary" (click)="approveComplaint(complaint)">Handled</button>
                      <button mat-raised-button color="warn" style="margin-left: 10px;" (click)="rejectComplaint(complaint)">Pending</button>
                    </div>

                    <div>
                      <button mat-raised-button color="warn" style="background-color: green;" (click)="update(complaint)">Update</button>
                    </div>
                   
                  </mat-card-actions>
                </mat-card>
              </ng-container>
              
              

              
        </div>
    </div>
</div>