<div class="customers">

    <div class="title-bar">

        <div (click)="handleLeftBar()">
            <img src="../../../../assets/view-headlne.gif" height="30">
            <app-common-loader #loader></app-common-loader>
            <span class="text">Customers</span>
        </div>

        <div class="moduleLoader-container">
            <img *ngIf="isLoaderAvailable" src="../../../../assets/loader.gif">
        </div>

    </div>

    <div class="content">

        <div class="search-addCustomer-container">

            <div class="search-section">

                <app-customer-search #customerSearch (selcetedCustomerData)="bindCutomerData($event)"></app-customer-search>
                
            </div>
    
            <div class="add-customer-section" >

                <div class="container">

                    <div class="header">

                        <div class="title">
                            
                        </div>

                        <div class="select-options">

                            <mat-form-field appearance="fill">
                                <mat-label>Product Name</mat-label>
                                <mat-select [(ngModel)]="prodForSearch" (selectionChange)="prodChangeForSearch()">
                                    <mat-option *ngFor="let product of allProducts" [value]="product.prodId">
                                    {{ product.productName }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            
                            <mat-form-field appearance="fill">
                                <mat-label>Referance</mat-label>
                                <mat-select [(ngModel)]="selectedRefNum" (selectionChange)="refNameChangeForSearch()">
                                    <mat-option *ngFor="let ref of allProdReferanceForSearch" [value]="ref.refNu">
                                    {{ ref.refNu }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Quatation NO</mat-label>
                                <mat-select [(ngModel)]="quotForSearch">
                                    <mat-option *ngFor="let quot of allQuatationForDropForSearch" [value]="quot.id">
                                    {{ quot.quatNum }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <button mat-raised-button color="primary" [disabled]="!isButtonEnabled()" (click)="getCustPayments()">Search</button>

                        </div>
                    </div>
                  
                    <div class="paymntinputView">
                        
                        <div class="left">

                            <mat-card class="payment-form">
                                
                                <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Customer Name</mat-label>
                                        <input matInput formControlName="customerName" [readonly]="true">
                                    </mat-form-field>
                            
                                    <mat-form-field appearance="fill">
                                    <mat-label>Product Name</mat-label>
                                    <mat-select formControlName="productName" [disabled]="!isBtnEnabaled" (selectionChange)="prodChange($event)">
                                        <mat-option *ngFor="let product of allProducts" [value]="product.id">
                                        {{ product.productName }}
                                        </mat-option>
                                    </mat-select>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill">
                                        <mat-label>Referance</mat-label>
                                        <mat-select formControlName="selectedRefNum" (selectionChange)="refChange($event)">
                                            <mat-option *ngFor="let ref of allProdReferance" [value]="ref.refNu">
                                            {{ ref.refNu }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    
                                    <mat-form-field appearance="fill">
                                        <mat-label>Quatation</mat-label>
                                        <mat-select formControlName="selectedQutNumber">
                                            <mat-option *ngFor="let quot of allQuatationForDrop" [value]="quot.id">
                                            {{ quot.quatNum }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill">
                                        <mat-label>Job Description</mat-label>
                                        <input matInput formControlName="jobDescription" [readonly]="!isBtnEnabaled">
                                    </mat-form-field>
                            
                                    <mat-form-field appearance="fill">
                                        <mat-label>Remark</mat-label>
                                        <input matInput formControlName="remark" [readonly]="!isBtnEnabaled">
                                    </mat-form-field>
                            
                                    <mat-form-field appearance="fill">
                                        <mat-label>Payment</mat-label>
                                        <input matInput formControlName="payment" type="number">
                                    </mat-form-field>
                            
                                    <button mat-raised-button color="primary" *ngIf="isBtnEnabaled" type="submit">Add Payment</button>
                                    <button mat-raised-button color="primary" *ngIf="!isBtnEnabaled" type="button" (click)="updatePayamentData()">Update Payment</button>
                                </form>

                              </mat-card>

                        </div>

                        <div class="right">

                            <mat-card class="payment-list">
                            
                                <table mat-table [dataSource]="payments" class="mat-elevation-z8">
                                    <!-- Column Definitions -->
                                    <ng-container matColumnDef="custmoerName">
                                        <th mat-header-cell *matHeaderCellDef> Name </th>
                                        <td mat-cell *matCellDef="let payment"> {{payment.custmoerName}} </td>
                                    </ng-container>
                            
                                    <ng-container matColumnDef="productDisplayName">
                                        <th mat-header-cell *matHeaderCellDef> Prod Name </th>
                                        <td mat-cell *matCellDef="let payment"> {{payment.productDisplayName}} </td>
                                    </ng-container>
                            
                                    <ng-container matColumnDef="quotedPrice">
                                        <th mat-header-cell *matHeaderCellDef> Quot Price </th>
                                        <td mat-cell *matCellDef="let payment"> {{payment.quotedPrice}} </td>
                                    </ng-container>
                            
                                    <ng-container matColumnDef="jobDescription">
                                        <th mat-header-cell *matHeaderCellDef> Job Desc </th>
                                        <td mat-cell *matCellDef="let payment"> {{payment.jobDescription}} </td>
                                    </ng-container>
                            
                                    <ng-container matColumnDef="remark">
                                        <th mat-header-cell *matHeaderCellDef> Remark </th>
                                        <td mat-cell *matCellDef="let payment"> {{payment.remark}} </td>
                                    </ng-container>
                            
                                    <ng-container matColumnDef="payment">
                                        <th mat-header-cell *matHeaderCellDef> Payment </th>
                                        <td mat-cell *matCellDef="let payment"> {{payment.payment | currency}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="paymentPrecentage">
                                        <th mat-header-cell *matHeaderCellDef> Payment(%) </th>
                                        <td mat-cell *matCellDef="let payment"> {{payment.paymentPrecentage}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="paymentDate">
                                        <th mat-header-cell *matHeaderCellDef> Payment Date </th>
                                        <td mat-cell *matCellDef="let payment"> {{payment.paymentDate}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="recpNo">
                                        <th mat-header-cell *matHeaderCellDef> Recep NO </th>
                                        <td mat-cell *matCellDef="let payment"> {{payment.recpNo}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="totalDue">
                                        <th mat-header-cell *matHeaderCellDef> Due </th>
                                        <td mat-cell *matCellDef="let payment"> {{payment.totalDue}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="balance">
                                        <th mat-header-cell *matHeaderCellDef> Balance </th>
                                        <td mat-cell *matCellDef="let payment"> {{payment.balance}} </td>
                                    </ng-container>
                            
                                    <ng-container matColumnDef="actions">
                                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                                        <td mat-cell *matCellDef="let payment; let i = index; let last = last">
                                            <button mat-icon-button color="primary" *ngIf="last && payment.isConfirmed" (click)="editPayment(payment)">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                            <button mat-icon-button color="warn" *ngIf="last" (click)="deletePayment(payment)">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </td>
                                    </ng-container>
                            
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            </mat-card>      

                        </div>
                    </div>

                
                  </div>
                  
            </div>

        </div>
    </div>
</div>