<div class="dashboard">

    <div class="title-bar">

        <div (click)="handleLeftBar()">
            <img src="../../assets//view-headlne.gif" height="30">
        </div>
        
        <span class="text">Dashboard</span>

    </div>

    <div class="content">
      <app-slider-window #sliderWindow></app-slider-window>
<mat-toolbar color="primary">
  <span>Data Dashboard</span>
</mat-toolbar>

<div class="container">
  <mat-card>
    <mat-card-title>Inquiries</mat-card-title>
    <mat-table [dataSource]="inquiries" class="mat-elevation-z8">
      <ng-container matColumnDef="cInqId">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.cInqId}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="iquiryAddeddAt">
        <mat-header-cell *matHeaderCellDef> Added at </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.iquiryAddeddAt}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="completedAt">
        <mat-header-cell *matHeaderCellDef> Completed At </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.completedAt}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dispName">
        <mat-header-cell *matHeaderCellDef> Customer Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.dispName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="isAccepted">
        <mat-header-cell *matHeaderCellDef> Is Accepted </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.isAccepted}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumnsInquiries"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsInquiries;"></mat-row>
    </mat-table>
  </mat-card>

  <mat-card>
    <mat-card-title>Complaints</mat-card-title>
    <mat-table [dataSource]="complaints" class="mat-elevation-z8">
      <ng-container matColumnDef="compId">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.compId}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="complainedAt">
        <mat-header-cell *matHeaderCellDef> Complained At </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.complainedAt}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="completedAt">
        <mat-header-cell *matHeaderCellDef> Completed At </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.completedAt}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dispName">
        <mat-header-cell *matHeaderCellDef> Display Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.dispName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="isHandled">
        <mat-header-cell *matHeaderCellDef> Is Handled </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.isHandled}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumnsComplaints"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsComplaints;"></mat-row>
    </mat-table>
  </mat-card>

  <mat-card>
    <mat-card-title>Due Payments</mat-card-title>
    <mat-table [dataSource]="duePayments" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="dueFrom">
        <mat-header-cell *matHeaderCellDef> Due From </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.dueFrom}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="duePayment">
        <mat-header-cell *matHeaderCellDef> Due Payment </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.duePayment}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="isCleared">
        <mat-header-cell *matHeaderCellDef> Is Cleared </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.isCleared}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="isMessageSent">
        <mat-header-cell *matHeaderCellDef> Is Message Sent </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.isMessageSent}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="dispName">
        <mat-header-cell *matHeaderCellDef> Customer Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.dispName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="productName">
        <mat-header-cell *matHeaderCellDef> Product Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.productName}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumnsDuePayments"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsDuePayments;"></mat-row>
    </mat-table>
  </mat-card>
</div>

      
    </div>
</div>