.dashboard{
    flex-direction: column;
    height: 100%;
    width: 100%;
    display: flex;

    .content{
        height: calc(100% - 55px);
        display: flex;
        flex-direction: column;
        padding: 0px 5px 0px 5px;

        .container {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 20px;
          }
          
          mat-card {
            padding: 16px;
            height: 300px;

            mat-table{
                height: 100%;
                overflow: auto;

                mat-header-row {
                    position: sticky;
                    top: 0;
                    z-index: 1;
                    background: white;
                    font-weight: bold;
                  }
            }
          }
          
          mat-table {
            width: 100%;
          }
  
    }
}