<div class="notification-dialog" *ngIf="!showEmpView" [ngClass]="{
    error: data.notificationType === notificationType.error, 
    warn: data.notificationType === notificationType.warn,
    success: data.notificationType === notificationType.success,
    confirm: data.notificationType === notificationType.confirm    
  }">
  
      <h1 mat-dialog-title>
        
        <img src="assets/notification-dialog/{{notificationIcon}}" >
        
        {{ notificationTitle }}
  
      </h1>
  
      <div class="content">
    
        <div class="contentTitle">
          {{ contentTitle }}
        </div>
  
        <div mat-dialog-content *ngIf="data.html">
          <div [innerHTML]="data.html"></div>
        </div>
  
        <div mat-dialog-content *ngIf="!data.html" [ngClass]="data.panelClass">
          <p>{{ data.message || 'Are you sure?' }}</p>
        </div>
    
        <div mat-dialog-actions>
          <div class="note-container">
            <span *ngIf="data.dialogType === dialogType.ntOk">
              <input [(ngModel)]="regAcceptNote" placeholder="Please enter your note here..." class="note-input" /> 
              <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial (click)="dialogRef.close(regAcceptNote)" class="note-button">
                {{ (data.btnTxt && data.btnTxt.ok) ? data.btnTxt.ok : 'Ok' }}
              </button>
            </span>
          </div>
          <span *ngIf="data.dialogType === dialogType.ntYesNo">    
            <button mat-raised-button  (click)="dialogRef.close('yes')" [mat-dialog-close]="true" [attr.cdkFocusInitial]="(data.initialFocusBtn === buttons.btYes) ? '' : null">{{ (data.btnTxt && data.btnTxt.yes)? data.btnTxt.yes : 'Yes' }}</button>
            <button mat-raised-button  (click)="dialogRef.close('no')" [attr.cdkFocusInitial]="(data.initialFocusBtn !== buttons.btYes) ? '' : null">{{ (data.btnTxt && data.btnTxt.no)? data.btnTxt.no : 'No' }}</button>
          </span>
         
        </div>
        
      </div>
</div>

<div class="notification-dialog" *ngIf="showEmpView" style="display: flex ;height: 600px;flex-direction: column;">

    <div class="title">

      <div>
        <h1 mat-dialog-title>
      
          Assign Employees to Quatation
    
        </h1>
      </div>
      <div>
        <app-common-loader #loader></app-common-loader>
      </div>
    </div>

    <div class="content">

      
      <div class="assignedEmpSec">
        <div class="employee-container">
          <div class="emp">
            <h4>All Employees</h4>
            <div class="employee-list">
              <app-employee-search #employeeSearch (selectEmpInq)="bindEmployeeData($event)" [compName]="componant"></app-employee-search>
            </div>
          </div>
      
          <div class="assignedEmp">
            <h4>Assigned Employees</h4>
            <div class="assigned-employee-list">
              <div class="search-result-card" *ngFor="let selectedIngEmp of selectedForInq">
                <div class="card-header">
                  <div class="card-title-group">
                    <div class="card-title">{{selectedIngEmp.employeeProfile.initials + ' ' + selectedIngEmp.employeeProfile.fname}}</div>
                    <div class="status">
                      <strong>Status:</strong> 
                      <span *ngIf="selectedIngEmp.isConfirmed && !selectedIngEmp.isRejected" class="accepted">Accepted</span>
                      <span *ngIf="!selectedIngEmp.isConfirmed && selectedIngEmp.isRejected" class="rejected">Rejected</span>
                      <span *ngIf="!selectedIngEmp.isConfirmed && !selectedIngEmp.isRejected" class="pending">Pending</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
        <button mat-raised-button color="primary" class="save-button" (click)="dialogRef.close('yes')">Save</button>
      </div>
      
      

      
    </div>
  </div>