<div class="customer-profile">

    <div class="title-bar">

        <div (click)="handleLeftBar()">
            <img src="../../../../assets/view-headlne.gif" height="30">
        </div>
        
        <span class="text">Customer Profile</span>
        
    </div>

    <div class="content">

       <div class="left-content">

            <div class="account-setting card" (click)="changeUserProfileView('account-settings')">
                <label *ngIf="!enableIcons"><mat-icon >account_circle</mat-icon> Account Settings</label>
                <mat-icon *ngIf="enableIcons">account_circle</mat-icon>
            </div>

            <div class="security card" (click)="changeUserProfileView('security-settings')">
                <label *ngIf="!enableIcons"><mat-icon >security</mat-icon>Password & Security</label>
                <mat-icon *ngIf="enableIcons">security</mat-icon>
            </div>

            <div class="userReg card" (click)="changeUserProfileView('user-register')">
                <label *ngIf="!enableIcons"><mat-icon >security</mat-icon>User Register</label>
                <mat-icon *ngIf="enableIcons">security</mat-icon>
            </div>

       </div>

       <div *ngIf="accountSettingAvailable" class="account-setting-content">

        <div class="user-info card">

            <h2>Register User</h2>

            <div class="displayName">

                <label>Display Name</label>
                <input type="text" [(ngModel)]="displayName">

            </div>

            <div class="userName">

                <label>User Name</label>
                <input type="text" [(ngModel)]="userNameForRegister">

            </div>

            <div class="email">

                <label>Email</label>
                <input type="text" [(ngModel)]="emailForRegUser">

            </div>

            <div class="password">

                <label>Password</label>
                <input type="text" [(ngModel)]="newPasswordForRegUser" [disabled]="true">

            </div>

            <div class="phoneNumber">

                <label>Phone Number</label>
                <input type="text" [(ngModel)]="phoneNmberForRegUser">

            </div>

            <div class="userMode">

                <mat-form-field appearance="fill">
                    <mat-label>User Modes</mat-label>
                    <mat-select [(ngModel)]="selectedUserMode">
                        <mat-option *ngFor="let mode of allUserMods" [value]="mode.id">
                        {{ mode.modeDesc }}
                        </mat-option>
                </mat-select>
                </mat-form-field>
            </div>

            <div class="employees">

                <mat-form-field appearance="fill">
                    <mat-label>Employees</mat-label>
                    <mat-select [(ngModel)]="selectedEmployeeForRegUser">
                        <mat-option *ngFor="let emp of allEmployees" [value]="emp.id">
                        {{ emp.fname }}
                        </mat-option>
                </mat-select>
                </mat-form-field>
            </div>

        </div>

            <div class="useres">

                <div class="table-container">
                    <table>
                      <thead>
                        <tr>
                          <th>Display Name</th>
                          <th>Email</th>
                          <th>Phone number</th>
                          <th>User Name</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let user of allUsers"  (click)="loadUserData(user)">
                          <td>{{ user.dispname }}</td>
                          <td>{{ user.email }}</td>
                          <td>{{ user.phoneNumber }}</td>
                          <td>{{ user.userName }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  
            </div>
            
            <div class="btn">
                <button mat-raised-button color="primary" (click)="updateUser()">Update</button>
            </div>

       </div>

       <div *ngIf="securitySettingAvailable" class="security-setting-content">

            <div class="user-info card">

                <h2>Change your password</h2>

                <div class="email">

                    <label>New Email Address</label>
                    <input type="text" [(ngModel)]="email">

                </div>

                <div class="userName">

                    <div class="left">
                        <label>User Name</label>
                        <input type="text" [(ngModel)]="userName">
                    </div>

                    <div class="right"> 

                        <button mat-raised-button color="primary" (click)="getVerificationCode()" [ngClass]="{'verified': verified, 'not-verified': !verified}">Verified</button>

                    </div>

                </div>

                <div class="code sec-1">

                    <div class="email userData">

                        <label>Password</label>
                        <input type="text" [(ngModel)]="userResetPassword" [disabled]="isEnabledUserPasswords" (keyup)="checkPasswordMatch()">

                    </div>

                </div>

                <div class="sec-1">

                    <div class="email userData">

                        <label>Confirm Password</label>
                        <input type="text" [(ngModel)]="userResetPasswordForConfirm" [disabled]="isEnabledUserPasswords" (keyup)="checkPasswordMatch()">
                        
                    </div>

                </div>

                <div *ngIf="passwordsMatch === false" class="password-message">
                    <span>Passwords do not match</span>
                </div>
                <div *ngIf="passwordsMatch === true" class="password-message">
                    <span>Passwords match</span>
                </div>

            </div>

            <div class="btn">
                <button mat-raised-button color="primary" (click)="updatePrivacy()">Reset</button>
            </div>
       </div>

       <div *ngIf="regsterUserAvailable" class="security-setting-content">

        <div class="user-info card">

            <h2>Register User</h2>

            <div class="displayName">

                <label>Display Name</label>
                <input type="text" [(ngModel)]="displayName">

            </div>

            <div class="userName">

                <label>User Name</label>
                <input type="text" [(ngModel)]="userNameForRegister">

            </div>

            <div class="email">

                <label>Email</label>
                <input type="text" [(ngModel)]="emailForRegUser">

            </div>

            <div class="password">

                <label>Password</label>
                <input type="text" [(ngModel)]="newPasswordForRegUser">

            </div>

            <div class="phoneNumber">

                <label>Phone Number</label>
                <input type="text" [(ngModel)]="phoneNmberForRegUser">

            </div>

            <div class="userMode">

                <mat-form-field appearance="fill">
                    <mat-label>User Modes</mat-label>
                    <mat-select [(ngModel)]="selectedUserMode">
                        <mat-option *ngFor="let mode of allUserMods" [value]="mode.id">
                        {{ mode.modeDesc }}
                        </mat-option>
                </mat-select>
                </mat-form-field>

                <div class="showAllUsers">

                    <div class="allUsers">
        
                        <div *ngFor="let user of allUsers" (click)="register()">Register</div>
                        
                    </div>

                    <!-- <div class="btn">
                        <button mat-raised-button color="primary" (click)="getUserByMode()">Show Users</button>
                    </div> -->
        
                </div>
            </div>

            <div class="employees">

                <mat-form-field appearance="fill">
                    <mat-label>Employees</mat-label>
                    <mat-select [(ngModel)]="selectedEmployeeForRegUser">
                        <mat-option *ngFor="let emp of allEmployees" [value]="emp.id">
                        {{ emp.fname }}
                        </mat-option>
                </mat-select>
                </mat-form-field>
            </div>

        </div>

        
        <div class="btn">
            <button mat-raised-button color="primary" (click)="register()">Register</button>
        </div>
   </div>

       <!-- <div *ngIf="regsterUserAvailable" class="registerUser-content">

        <div class="regUserInfo card">

            <h2>Register User</h2>

            <div class="displayName">

                <label>Display Name</label>
                <input type="text" [(ngModel)]="displayName">

            </div>

            <div class="userName">

                <div class="left">
                    <label>User Name</label>
                    <input type="text" [(ngModel)]="userNameForRegister">
                </div>

            </div>

            <div class="email">

                <label>Email</label>
                <input type="text" [(ngModel)]="emailForRegUser">

            </div>

            <div class="sec-1">

                <div class="email userData">

                    <label>Password</label>
                    <input type="text" [(ngModel)]="newPasswordForRegUser">
                    
                </div>

            </div>

            <div class="phoneNumber">

                <label>Phone Number</label>
                <input type="text" [(ngModel)]="phoneNmberForRegUser">

            </div>

            <div class="userMode">

                <mat-form-field appearance="fill">
                    <mat-label>User Modes</mat-label>
                    <mat-select [(ngModel)]="selectedUserMode">
                        <mat-option *ngFor="let mode of allUserMods" [value]="mode.id">
                        {{ mode.modeDesc }}
                        </mat-option>
                </mat-select>
                </mat-form-field>

            </div>

        </div>

        <div class="btn">
            <button mat-raised-button color="primary" (click)="updatePrivacy()">Update</button>
        </div>
   </div> -->

    </div>

</div>