<div class="employees">

    <div class="title-bar">

        <div (click)="handleLeftBar()">
            <img src="../../../../assets/view-headlne.gif" height="30">
            <span class="text">employees</span>
            <app-common-loader #loader></app-common-loader>
        </div>
        
        <div class="moduleLoader-container">
            <img *ngIf="isLoaderAvailable" src="../../../../assets/loader.gif">
        </div>

    </div>

    <div class="content">

        <div class="search-addemployee-container">

            <div class="search-section">

               <app-employee-search #employeeSearch (selectedEmployeeData)="bindEmployeeData($event)" (removeEmployeeEvent)="removeEmployee($event)"></app-employee-search>
                
            </div>
    
            <div class="add-employee-section" >
    
                <div class="mat-tab-container">
                    
                    <mat-stepper #matStepper>

                        <mat-step [stepControl]="employeeNameDetails">

                            <form [formGroup]="employeeNameDetails">
                                
                                <ng-template matStepLabel>Ad Employee</ng-template>
                                
                                <div class="cust-info-container">

                                    <div class="cust-info">

                                        <mat-form-field>
                                            <mat-label>First Name</mat-label>
                                            <input matInput placeholder="First name" formControlName="firstName" required>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Middle Name</mat-label>
                                            <input matInput placeholder="Middle Name" formControlName="middleName" required>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Last Name</mat-label>
                                            <input matInput placeholder="Last Name" formControlName="lastName" required>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>SurName</mat-label>
                                            <input matInput placeholder="SurName" formControlName="surName" required>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Display Name</mat-label>
                                            <input matInput placeholder="Display Name" formControlName="displayName" required>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Phone Number</mat-label>
                                            <input matInput placeholder="Phone Number" formControlName="phoneNumber" required>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Email</mat-label>
                                            <input matInput placeholder="Email" formControlName="email" required>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>NIC</mat-label>
                                            <input matInput placeholder="NIC" formControlName="nic" required>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Title</mat-label>
                                            <mat-select formControlName="title">
                                              <mat-option value="Mr">Mr</mat-option>
                                              <mat-option value="Mrs">Mrs</mat-option>
                                            </mat-select>
                                          </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Initials</mat-label>
                                            <input matInput placeholder="Initials" formControlName="initials" required>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Designation</mat-label>
                                            <mat-select formControlName="designation">
                                              <mat-option *ngFor="let desig of designatioins" [value]="desig.desgDesc">
                                                {{ desig.desgDesc }}
                                              </mat-option>
                                            </mat-select>
                                          </mat-form-field>

                                        <mat-form-field>
                                            <mat-label>Department</mat-label>
                                            <input matInput placeholder="department" formControlName="department" required>
                                        </mat-form-field>

                                    </div>                                  

                                </div>

                            </form>
                        </mat-step>
                    </mat-stepper>
                </div>
                <div class="btn">
                    <button class="new" mat-raised-button color="warn" (click)="newemployee()">New employee</button>
                    <button class="updateOrAdd" mat-raised-button color="primary" [disabled]="employeeNameDetails.invalid || updateDocBtnDisabled" (click)="registeremployee()">{{buttonText}}</button>
                </div>
            </div>
        </div>
        
    </div>

</div>